# Ignore entire artifacts folder

/train.csv

src/train.csv
artifacts/
src/components/__pycache__
src/pipeline/__pycache__
src/utility/__pycache__
mlruns
remotestorage
node_modules/
.dvc
.pytest_cache
.tox
.github
tests/__pycache__
build
__pycache__
